body {
  margin: 0;
  background-color: rgb(245, 241, 241);
  height: 5000px;
}

i {
  font-size: 40px;
  color: rgba(148, 146, 146, 0.747);
  transition: all 0.3s;
  &:hover {
    color: white;
  }
}
